.widget
  .widget-title
    i(class='fa fa-commt')= ' ' + __('notice')
  p
    | 記載されている会社名・製品名・システム名などは、各社の商標、または登録商標です。
  hr
  p
    a(href='http://finalfantasyxiv.com' target='_blank') ファイナルファンタジーXIV
    | に関する著作物の著作権は株式会社スクウェア・エニックスにあり、
    a(href='http://support.jp.square-enix.com/rule.php?id=5381&la=0&tag=authc' rel='license' target='_blank') 「ファイナルファンタジーXIV 著作物利用許諾条件」
    | に従って利用を許諾されています。
  p
    | Copyright (C) 2010-2017 SQUARE ENIX CO., LTD. All Rights Reserved.
  hr
  p
    | 上記以外のコンテンツに関しては 
    a(href='https://creativecommons.org/licenses/by/4.0/' rel='license' target='_blank') CC BY 4.0
    |  とします。
  p
    | Copyright (C) 2017 
    a(href='https://quercus2011.github.io' target='_blank') Quercus Maris
  hr
  p
    strong すべてのコンテンツは「無保証」です。
    | 上記ライセンスを参照のこと。
