.widget
  .widget-title
    i(class='fa fa-commt')= ' ' + __('notice')
  p
    | 記載されている会社名・製品名・システム名などは、各社の商標、または登録商標です。
  hr
  p
    | 本サイトのコンテンツのライセンスは 
    a(href='https://creativecommons.org/licenses/by/4.0/' rel='license') CC BY 4.0
    |  とします。
  p
    | Copyright (C) 2011-2020 
    a(href=url_for(''))= config.author
  hr
  p
    strong すべてのコンテンツは「無保証」です。
    | 上記ライセンスを参照のこと。
